@import "../../css-config/mixins.scss";

.main-container {
    padding: 20px 0;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    .search-bar {
        padding: 0 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        .search-bar-content {
            border: 1px solid #f2f2f2;
            border-radius: 10px;
            padding: 10px 10px;
            input {
                padding-left: 10px;
                width: 100vh;
                font-size: 25px;
                outline: none;
                border: none;
            }
            .icon {
                font-size: 20px;
            }
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        padding: 50px 20px; 
        .filter {
            width: 250px;
            border-right: 1px solid #f2f2f2;
        }
    }

}