@import "../../css-config/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.hero-banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url("../../assets/bkgrd1.jpeg");
    @include md {
        height: calc(100vh - 81px); 
    }   
    .content {
        padding-top: 100px;
        padding-left: 200px;
        .text-content {
            background-color: white;
            width: 500px;
            height: 500px;
            .header-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                background-color: #fbfbfb;
                border-bottom: 1px solid #f3f3f3;
                @include md {
                    height: 120px;
                }
                .menu-items {
                    list-style-type: none;
                    display: none;
                    padding-left: 50px;
                    gap: 120px;
                    @include md {
                        display: flex;
                    }
                    .menu {
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;

                        font-size: 16px;
                        font-weight: 600;
                        text-transform: uppercase;
                        cursor: pointer;
                        .icon {
                            font-size: 25px;
                        }
                        &:hover {
                            color: #797979;
                        }
                        &:active{
                            border-bottom: 2px solid black;
                        }
                    }
                    .menu-click {
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;

                        font-size: 16px;
                        font-weight: 600;
                        text-transform: uppercase;
                        border-bottom: 2px solid black;
                        cursor: pointer;
                        .icon {
                            font-size: 25px;
                        }
                        &:hover {
                            color: #797979;
                        }
                    }
                    
                }
            }
            .main-content {
                padding: 15px;
                .header {
                    font-size: 23px;
                }
                .body {
                    font-size: 18px;
                    padding-bottom: 30px;
                    color: #797979;
                }
                .cta {
                    font-size: 18px;
                    padding: 15px;
                    width: fit-content;
                    &.v1 {
                        background-color: black;
                        color: white;
                        border-radius: 25px;
                        box-shadow: 8px 6px 8px 3px #137DC5;
                    }
                    &.v1:hover {
                        cursor: pointer;
                        box-shadow: 6px 4px 6px 3px #71b1dc;
                    }
                    &.v2 {
                        padding-left: 0;
                        padding-right: 0;
                        padding-bottom: 5px;
                        width: fit-content;
                        padding-top: 30px;
                        color: #919191;
                        border-bottom: 1px solid #919191;
                    }
                    &.v2:hover {
                        cursor: pointer;
                        color: #484848;
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
    }
}